.footer {
  background-color: black;
  color: white;
  padding: 40px 0;
  text-align: center;
  width: 99.2vw;
  position: relative;

  img {
    width: 122px;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    margin: 0 auto;
  }
}


@media (max-width: 200px) {
  .footer {
    background-color: black;
    color: white;
    padding: 40px 0;
    text-align: center;
    width: 229vw;
    position: relative;

    img {
      width: 122px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 375px) {
  .footer {
    background-color: black;
    color: white;
    padding: 40px 0;
    text-align: center;
    width: 122.3vw;
    position: relative;

    img {
      width: 122px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    background-color: black;
    color: white;
    padding: 40px 0;
    text-align: center;
    width: 100vw;
    position: relative;

    img {
      width: 122px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    background-color: black;
    color: white;
    padding: 40px 0;
    text-align: center;
    width: 100vw;
    position: relative;

    img {
      width: 122px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      margin: 0 auto;
    }
  }
}