header {
  max-width: 1240px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .LogoRouge {
    height: 40px;
    margin: 0;
  }

  nav {
    display: flex;
    gap: 15px;

    a {
      text-decoration: none;
      color: #000;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      transition: color 0.3s;

      &.active {
        text-decoration: underline;
      }
    }
  }
      // Media queries pour mobile
  @media (min-width: 375px) {
    .LogoRouge {
      height: 35px;
    }

    nav {
      gap: 30px;
      margin-right: 25px;

      a {
        font-size: 16px;
      }
    }
  }

  @media (min-width: 768px) {

    .LogoRouge {
      height: 50px;
    }

    nav {
      gap: 30px;

      a {
        font-size: 16px;
      }
    }
  }
}
