body {
  margin: 0;
  padding: 0;
}


.home {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.banner {
  background-image: url("@/assets/Images/ImageFond.png");
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  color: white;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;
  background-color: #f6f6f6;
  padding: 50px;
  border-radius: 25px;
}

.card {
  position: relative;
  height: 340px;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to top, #ff5a5f, #ff7e7f);
  color: white;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    font-weight: bold;
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .banner {
    position: relative;
    background-image: url("@/assets/Images/ImageFond.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 160px;
    width: 355px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 25px;
      z-index: 1;
    }

    h1 {
      position: relative;
      z-index: 2;
      color: white;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.2;
      max-width: 240px;
      text-align: left;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    position: relative;
    background-image: url("@/assets/Images/ImageFond.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 160px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 25px;
      z-index: 1;
    }

    h1 {
      position: relative;
      z-index: 2;
      color: white;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.2;
      text-align: left;
    }
  }
}

